<form class="ui form large segment">

  <h3 class="ui header">Agregar link</h3>

  <div class="field">
    <label for="title">Titulo</label>
    <input name="title" #newtitle> <!-- Agregado -->
  </div>

  <div class="field">
    <label for="link">Link</label>
    <input name="link" #newlink> <!-- Agregado -->
  </div>

 <!-- Se agrego boton -->
  <button (click)="addArticle(newtitle, newlink)"
    class="ui positive right floated button">Subir link</button>

</form>

<div class="ui grid posts">
  <app-article *ngFor="let article of articles" [article]='article'>
  </app-article>
</div>
